*~
*.orig
*.pyc
*.rej
*.db
*.log
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
logs
parts
tmp
.idea/*
**/*.pyc
*/media/cache/*
db.sqlite3
blogs_images
posts_images
media
local_settings.py