{% extends "base.html" %}

{% load url from future %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}إعادة ضبط كلمة السر{% endblock %}

{% block top_nav_login %}active{% endblock %}

{% block content %}
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
</style>

{% if validlink %}
    <form class="form-signin" role="form" action="." method="post">
            <h2 class="form-signin-heading">إعادة ضبط كلمة السر</h2>
             {% csrf_token %}
            {% bootstrap_messages %}
            {%  bootstrap_form form %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">ارسال</button>
     </form>

{% else %}
    <p>{% trans "Password reset failed" %}</p>
{% endif %}

{% endblock %}
